# SUPERMARKET DATA PROJECT PREDICTIVE MODEL NOTEBOOK

# Importing Packages

In [1]:
#importing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_profiling as pp
import seaborn as sns 
%matplotlib inline

# Importing Data

In [2]:
dataset =  pd.read_csv("supermarket_dataset_used.csv")
dataset.head()

,SHOP_WEEK,Year,Month,Date,SHOP_WEEKDAY,SHOP_HOUR,QUANTITY,SPEND,PROD_CODE,PROD_CODE_10,...,CUST_PRICE_SENSITIVITY,CUST_LIFESTAGE,BASKET_ID,BASKET_SIZE,BASKET_PRICE_SENSITIVITY,BASKET_TYPE,BASKET_DOMINANT_MISSION,STORE_CODE,STORE_FORMAT,STORE_REGION
0,200607,2006,4,13,5,20,1,103,PRD0900097,CL00001,...,LA,YF,994100000000000,L,LA,Top Up,Fresh,STORE00001,LS,E02
1,200607,2006,4,12,4,19,1,28,PRD0900353,CL00070,...,LA,YF,994100000000000,M,MM,Small Shop,Fresh,STORE00001,LS,E02
2,200607,2006,4,13,5,20,3,84,PRD0900550,CL00167,...,LA,YF,994100000000000,L,LA,Top Up,Fresh,STORE00001,LS,E02
3,200607,2006,4,12,4,19,1,221,PRD0901647,CL00010,...,LA,YF,994100000000000,M,MM,Small Shop,Fresh,STORE00001,LS,E02
4,200607,2006,4,13,5,20,1,334,PRD0902064,CL00073,...,LA,YF,994100000000000,L,LA,Top Up,Fresh,STORE00001,LS,E02